.possibilitiesBlockWrapper {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: 0 auto 50px;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    align-items: center;
  }

  &__divider {
    width: 75vh;
    height: 2px;
    background-color: #2e69c6;
    align-self: center;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__bottomDivider {
    width: 75vh;
    height: 2px;
    background-color: #2e69c6;
    align-self: center;
    margin: 50px 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__itemsSide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-width: 90%;
      align-items: flex-start;
    }
  }
}
