.imgBlockWrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto 50px;
  justify-content: space-between;
  width: 100%;

  &__img {
    max-width: 40%;
    border-radius: 20px;
    height: 100%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50%;
    width: 100%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0 10px;
    }

    &__title {
      font-size: 50px;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 20px;
      margin-bottom: 50px;
      line-height: 25px;
      font-weight: 300;
    }

    &__mission {
      font-size: 30px;
      margin-bottom: 20px;
    }

    &__list {
      list-style-type: disc;
      padding-left: 20px;

      &__item {
        font-size: 20px;
        color: black;
        margin-bottom: 10px;
        font-weight: 300;

        &::marker {
          color: #2e69c6;
        }
      }
    }
  }
}
