.accordionWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__leftSide {
    max-width: 650px;
    margin: 0 40px 0 0;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 50px;
    }

    &__title {
      display: flex;
      font-size: 28px;
      margin-bottom: 30px;
      height: 60px;
      @media screen and (max-width: 768px) {
        margin-left: 10px;
      }
    }

    &__description {
      font-size: 18px;
      margin-bottom: 20px;
      height: 60px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        margin-left: 10px;
      }
    }
  }

  &__rightSide {
    max-width: 650px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__title {
      font-size: 28px;
      margin-bottom: 30px;
      height: 60px;
      @media screen and (max-width: 768px) {
        margin-bottom: 50px;
        margin-left: 10px;
      }
    }

    &__description {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 400;
      height: 60px;
      @media screen and (max-width: 768px) {
        margin-bottom: 50px;
        margin-left: 10px;
      }
    }
  }
}

.title {
  font-size: 50px;
  margin: 0 auto 50px;
  max-width: 1400px;
  @media screen and (max-width: 768px) {
    font-size: 45px;
    margin-left: 10px;
  }
}
